spatio-textual @ git+https://github.com/SpaceTimeNarratives/spatio-textual.git@e956aac85c92a21bdd2bfbe1568c3122d80f7209
spacy>=3.8
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
pandas>=2
ipywidgets>=8